/* line 26, ../sass/app.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-moz-keyframes blink {
  /* line 30, ../sass/app.sass */
  0% {
    opacity: 0;
  }

  /* line 32, ../sass/app.sass */
  50% {
    opacity: 0;
  }

  /* line 34, ../sass/app.sass */
  51% {
    opacity: 1;
  }

  /* line 36, ../sass/app.sass */
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  /* line 30, ../sass/app.sass */
  0% {
    opacity: 0;
  }

  /* line 32, ../sass/app.sass */
  50% {
    opacity: 0;
  }

  /* line 34, ../sass/app.sass */
  51% {
    opacity: 1;
  }

  /* line 36, ../sass/app.sass */
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  /* line 30, ../sass/app.sass */
  0% {
    opacity: 0;
  }

  /* line 32, ../sass/app.sass */
  50% {
    opacity: 0;
  }

  /* line 34, ../sass/app.sass */
  51% {
    opacity: 1;
  }

  /* line 36, ../sass/app.sass */
  100% {
    opacity: 1;
  }
}
/* line 39, ../sass/app.sass */
html,
body,
#app,
#instructions {
  height: 100%;
  width: 100%;
}

/* line 46, ../sass/app.sass */
body {
  background-color: #1a1a1a;
  color: #eef0db;
  font-family: monospace;
  margin: 0;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 53, ../sass/app.sass */
#app {
  position: relative;
}

/* line 56, ../sass/app.sass */
#instructions {
  background-color: #1a1a1a;
  display: none;
  font-size: 22px;
  padding: 25px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 67, ../sass/app.sass */
#instructions h1,
#instructions h2,
#instructions h3,
#instructions h4 {
  font-weight: bold;
  margin: 30px 0;
}
/* line 73, ../sass/app.sass */
#instructions h1 {
  font-size: 2em;
}
/* line 75, ../sass/app.sass */
#instructions h2 {
  font-size: 1.5em;
}
/* line 77, ../sass/app.sass */
#instructions h3 {
  font-size: 1.2em;
}
/* line 79, ../sass/app.sass */
#instructions h4 {
  font-size: 1em;
  font-weight: normal;
  text-decoration: underline;
}
/* line 85, ../sass/app.sass */
#instructions strong {
  font-weight: normal;
}
/* line 88, ../sass/app.sass */
#instructions .close {
  position: absolute;
  top: 25px;
  right: 25px;
}

/* line 94, ../sass/app.sass */
.display {
  font-size: 33.33333px;
  position: absolute;
  top: 25px;
  left: 25px;
  white-space: pre;
  display: none;
}
/* line 101, ../sass/app.sass */
.app-ready .display {
  display: block;
}
/* line 104, ../sass/app.sass */
.display .cursor {
  -moz-animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
  background-color: #eef0db;
  display: inline-block;
  height: 1em;
  width: 2px;
  vertical-align: top;
}

/* line 112, ../sass/app.sass */
.finger,
.pad {
  height: 120px;
  width: 100px;
}

/* line 117, ../sass/app.sass */
.finger,
.char {
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

/* line 121, ../sass/app.sass */
.finger {
  position: absolute;
  display: none;
}
/* line 124, ../sass/app.sass */
.finger.is-positioned {
  display: block;
}

/* line 127, ../sass/app.sass */
.pad {
  border: 2px solid #eef0db;
  border-radius: 100px;
  margin-top: -60px;
  margin-left: -50px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 136, ../sass/app.sass */
.finger.hover .pad {
  background-color: rgba(238, 240, 219, 0.3);
}
/* line 140, ../sass/app.sass */
.behind-the-scenes .pad:before, .behind-the-scenes .pad:after, .edit .pad:before, .edit .pad:after {
  content: "";
  border: 1px solid #eef0db;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
/* line 149, ../sass/app.sass */
.behind-the-scenes .pad:before, .edit .pad:before {
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
}
/* line 157, ../sass/app.sass */
.behind-the-scenes .pad:after, .edit .pad:after {
  height: 25px;
  width: 25px;
  margin-top: -12.5px;
  margin-left: -12.5px;
}
/* line 166, ../sass/app.sass */
.behind-the-scenes .pad:before {
  display: none;
}

/* line 169, ../sass/app.sass */
.slider {
  margin: auto;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  height: 100%;
  width: 2px;
}
/* line 177, ../sass/app.sass */
.behind-the-scenes .slider, .finger.hover .slider {
  background-color: #eef0db;
}
/* line 180, ../sass/app.sass */
.finger.hover.edit .slider {
  background-color: transparent;
}

/* line 183, ../sass/app.sass */
.char {
  font-size: 50px;
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: 5px;
  display: none;
}
/* line 190, ../sass/app.sass */
.behind-the-scenes .char {
  display: block;
}

/* line 193, ../sass/app.sass */
.button-wrapper {
  position: absolute;
  bottom: 25px;
  text-align: center;
  width: 100%;
}

/* line 199, ../sass/app.sass */
.button {
  border: 1px solid #eef0db;
  border-radius: 3px;
  display: inline-block;
  font-size: 33.33333px;
  line-height: 1;
  margin: 0 20px;
  padding: 5px 10px;
  text-align: center;
  height: 50px;
  min-width: 150px;
}
/* line 210, ../sass/app.sass */
.button.hover {
  background-color: rgba(238, 240, 219, 0.3);
}
/* line 213, ../sass/app.sass */
.button.peek, .button.show-instructions {
  position: absolute;
}
/* line 216, ../sass/app.sass */
.button.peek {
  bottom: 0;
  right: 25px;
  display: none;
}
/* line 220, ../sass/app.sass */
.app-ready .button.peek {
  display: block;
}
/* line 222, ../sass/app.sass */
.button.show-instructions {
  bottom: 25px;
  left: 25px;
}

/* line 226, ../sass/app.sass */
.text-inactive {
  display: block;
}
/* line 228, ../sass/app.sass */
.active .text-inactive {
  display: none;
}

/* line 230, ../sass/app.sass */
.text-active {
  display: none;
}
/* line 232, ../sass/app.sass */
.active .text-active {
  display: block;
}

/* line 235, ../sass/app.sass */
.char-position {
  background-color: rgba(238, 240, 219, 0.5);
  color: #1a1a1a;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
  height: 20px;
  width: 20px;
  margin-top: -10px;
  margin-left: -9px;
}
/* line 252, ../sass/app.sass */
.char-position, .char-position:before {
  display: inline-block;
  vertical-align: middle;
}
/* line 256, ../sass/app.sass */
.char-position:before {
  content: "";
  height: 100%;
}
/* line 259, ../sass/app.sass */
.behind-the-scenes .char-position {
  opacity: 1;
}

/* line 262, ../sass/app.sass */
.temp-slider {
  background-color: #eef0db;
  position: absolute;
  width: 2px;
  -moz-transform-origin: 0 1px;
  -ms-transform-origin: 0 1px;
  -o-transform-origin: 0 1px;
  -webkit-transform-origin: 0 1px;
  transform-origin: 0 1px;
}

/* line 268, ../sass/app.sass */
.info {
  color: #eef0db;
  font-size: 40px;
  font-weight: bold;
  opacity: 0.4;
  text-align: center;
  padding: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
/* line 282, ../sass/app.sass */
.app-ready .info {
  display: none;
}
/* line 284, ../sass/app.sass */
.info p {
  margin: 0;
}
