/* line 5, ../sass/app.sass */
.finger,
.slider {
  box-sizing: border-box;
}

/* line 8, ../sass/app.sass */
.finger {
  border: 2px solid #147fe6;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 100px;
}
/* line 16, ../sass/app.sass */
.finger .slider {
  border: 2px solid #3f98ee;
  border-radius: 30px;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 28, ../sass/app.sass */
.finger:nth-child(1) {
  left: 70px;
}
/* line 28, ../sass/app.sass */
.finger:nth-child(2) {
  left: 140px;
}
/* line 28, ../sass/app.sass */
.finger:nth-child(3) {
  left: 210px;
}
/* line 28, ../sass/app.sass */
.finger:nth-child(4) {
  left: 280px;
}
/* line 28, ../sass/app.sass */
.finger:nth-child(5) {
  left: 350px;
}
