$blue: #147fe6

$fingerSize: 100px
$charSize: $fingerSize / 2
$inputCharSize: $charSize / 2
$pad: $fingerSize / 4

body
    margin: 0
    padding: $pad

#app
    position: relative

.finger,
.slider
    box-sizing: border-box

.finger,
.char
    height: $fingerSize

.char
    font-size: $charSize

.input
    font-size: $inputCharSize
    margin-bottom: $pad
    height: 170px
    width: 100%

.finger
    border: 2px solid $blue
        radius: $fingerSize
    display: inline-block
    margin-right: $fingerSize / 2
    position: relative
    text-align: center
    width: $fingerSize

.info
    font-size: $fingerSize
    opacity: 0.3
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    text-align: center
